.compContainer{
    width:18%;
    height:100vh;
    background-color: var(--dark-medium);
    color: var(--dark-light);
    padding: 2%;
}

.logo{
    display: flex;
    flex-direction: row;
    gap:4%;
    padding: 18% 0;
    color: var(--solid-primary);
}

.sectionTwo{
    padding: 22% 0 9% 0;
}

.btnTheme{
    padding:4% 4% 0 4%;
    color: red;
    background-color: var(--solid-primary);
}
