.compContainer{
    width:18%;
    height:100vh;
    background-color: var(--dark-medium);
    color: var(--dark-light);
    padding: 2%;
    box-shadow: 1px 1px 2px #302f2f73;
}

.logo{
    display: flex;
    flex-direction: row;
    gap:4%;
    padding: 18% 0;
    color: var(--solid-primary);
}

.sectionTwo{
    padding: 22% 0 9% 0;
}

nav, nav a{
    color: var(--bg-solid) !important;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

.btnTheme{
    padding:4% 4% 0 4%;
    color: red;
    background-color: var(--solid-primary);
}

button{
    color: #000 !important;
}

:root[data-theme="light"] .compContainer{
  background-color: rgb(241, 240, 240);
  color: var(--dark-medium) !important;
}

:root[data-theme="light"] nav, :root[data-theme="light"] nav a{
    color: var(--dark-medium) !important;
    text-decoration: none;
}


.hidden{
    display: none;
}

.display{
    display: block;
}

.mobile{
   color: red !important;
}

.displayMenu{
    width: 240px;
    height:200px;
    font-size: 10px;
    background-color: blue;
}

@media screen and (max-width: 768px) {
    .compContainer{
    width:100vw;
    height:10vh;
    background-color: var(--dark-medium);
    padding: 2%;
    box-shadow: 1px 1px 2px #302f2f73;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    position: relative;
}

   .logo{
    flex-direction: column;
    padding: 2%;

   }

   .rightMenu{
    display: flex;
    flex-direction: row;
    gap:15px;
    align-items: center;
   }

   .btnTheme{
    padding:11% 11% 0 11%;
        height:5vh;
        width:95%;
        color: red;
        background-color: var(--solid-primary);
    }
    .displayMenu{
        position: absolute;
        top:85%;
        right:3%;
        width: 150px;
        height:105px;
        padding:2% 2% 2% 2%;
        font-size: 10px;
        background-color: rgb(231, 231, 231);
        margin-left: 33%;
        font-size: 12px;
        font-weight: 600;
        color: var(--dark-medium) !important;
        border: 1px solid #c4bebe;
        border-radius: 2px;
    }

    .menuTitle{
        position: absolute;
        top:50%;
        right:15%;
        transform: translateY(-50%);
    }

    .triangle{
        width:0;
        height:0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #a7a4a4;
        position: absolute;
        top:75%;
        right:18%;

    }

    :root[data-theme="dark"] nav a{
        color:var(--dark-medium) !important;
    }
}