
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    font-weight: 600;
    color:rgba(102, 102, 102, 0.904);
}

label{
    font-family:sans-serif;
    color: #393a33;
    padding: 1%;
    border-radius: 1px;
    letter-spacing: 0.025em;
}

.item {
    margin-bottom: 5%;
    font-size: 18px;
    width: 130%;
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: start;
    align-items: start;
    color:#030303;
}

.item input, select {
    background-color: #f8f5f5;
    border: 1px solid rgb(218, 218, 218);
    margin-left: 1%;
    border: 1px solid var(--solid-primary);
    margin-top: -1%;   
}

.input, .inputNumber,.selectInput{
    background-color: rgb(252, 252, 252) !important;
    width:220px;
    height:28px;
}

.input:focus{
    border: 3px solid var(--solid-primary);
}

.btnInput{
    position: absolute;
    right:30%;
    bottom:-25%;
    transform: translateX(-50%);
    width:145px !important;
    background-color: #1d1c1cdc;
    color: var(--extra-light-primary);
    font-weight: bold;
    letter-spacing: .095em;
    border-radius:  10px ;
    height:40px;
    transition: all .3s ease-in;
    text-align: center;
    cursor: pointer;
}

.btnInput:hover{
    cursor: pointer;
    filter:brightness(94%);
}

.validateInput{
    font-size: 15.5px;
    color:rgba(29, 29, 29, 0.904);
}

@media screen and (max-width:640px) {
    .input, .inputNumber, .selectInput{
        width:175px;
        height:25px;
    }

    .item{
        margin-top: 5%;
    }

    .btnInput{
        bottom:-35%;
        right:-12%;
        width:110px !important;
    }

    .validateInput{
        font-size: 14px;
        margin-top: .5%;
      }

}