
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    font-weight: 600;
    color:rgba(102, 102, 102, 0.904);
}

.item {
    margin-bottom: 5%;
    font-size: 13px;
    width: 130%;
}

.item input, select {
    background-color: #f8f5f5;
    border:1px solid var(--solid-primary);
    margin-left: 1%;
    
}
.input{
    background-color: rgb(255, 255, 255);
    width:200px;
    height:25px;
}

.input:focus{
    border: 3px solid var(--solid-primary);
}

.btnInput{
    position: absolute;
    right:30%;
    bottom:-25%;
    transform: translateX(-50%);
    width:80px !important;
    background-color: #1d1c1cdc;
    color: var(--extra-light-primary);
    font-weight: bold;
    letter-spacing: .095em;
    border-radius:  10px ;
    height:35px;
    transition: all .3s ease-in;
    text-align: center;
}

.btnInput:hover{
    cursor: pointer;
    filter:brightness(94%);
}

@media screen and (max-width:640px) {
    .input{
        width:100px;
    }

    .btnInput{
        bottom:-50%;
        right:30%;
        transform: translateX(-50%);
    }
}