@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
  font-family: "Manrope", sans-serif;
  max-width: 100%;
}

:root{
    --bg-solid:#f1f1f1;
    --solid-primary: #b6d336;
    --light-primary:#e4e9b9;
    --extra-light-primary:#f5f5dd;
    --dark-medium:#212121;
    --dark-light:#DEDEDE;
}

:root[data-theme="dark"]{
  background-color: var(--bg-solid);
}
:root[data-theme="light"]{
  background-color: var(--bg-solid);
  color: rgb(27, 27, 27);
}

